<h1>Item Tips</h1>
<table>
  <th>Top</th>
  <th>Mid</th>
  <th>Jungle</th>
  <th>Carry</th>
  <th>Support</th>
  <td><%= @item_tips[:top] %></td>
  <td><%= @item_tips[:mid] %></td>
  <td><%= @item_tips[:jungle] %></td>
  <td><%= @item_tips[:carry] %></td>
  <td><%= @item_tips[:support] %></td>
</table>