<h2>Team Fight Info</h2>
<table>

  <th>Level</th>
  <th>Ally Damage</th>
  <th>Enemy Damage</th>

  <tr>
    <td>6</td>
    <td><%= @allydmg_6 %></td>
    <td><%= @enemydmg_6 %></td>
  </tr>

  <tr>
  <td>11</td>
  <td><%= @allydmg_11 %></td>
  <td><%= @enemydmg_11 %></td>
  </tr>

  <tr>
    <td>18</td>
    <td><%= @allydmg_18 %></td>
    <td><%= @enemydmg_18 %></td>
  </tr>

</table>
