<h2>Team Fight Info</h2>
<table>
  <th>Team</th>
  <th>Level</th>
  <th>Damage</th>
  <tr>
    <td>Enemy</td>
    <td>6</td>
    <td><%= @enemydmg_6 %></td>
  </tr>
  <tr>
    <td>Ally</td>
    <td>6</td>
    <td><%= @allydmg_6 %></td>
  </tr><tr>
    <td>Enemy</td>
    <td>11</td>
    <td><%= @enemydmg_11 %></td>
  </tr>
  <tr>
    <td>Ally</td>
    <td>11</td>
    <td><%= @allydmg_11 %></td>
  </tr><tr>
    <td>Enemy</td>
    <td>18</td>
    <td><%= @enemydmg_18 %></td>
  </tr>
  <tr>
    <td>Ally</td>
    <td>18</td>
    <td><%= @allydmg_18 %></td>
  </tr>
</table>
