<h1>
  <% stats = @analytics[:stats] %></h1>

<table>
  <tr>
    <th>Player</th>
    <th>Total Damage</th>
    <th>Kills</th>
    <th>Deaths</th>
    <th>Assists</th>
    <th>CS..</th>
    <th>Vision</th>

  </tr>

  <tr>

    <td>You</td>
    <td><%= stats['totalDamageDealtToChampions'] %></td>
    <td><%= stats['kills'] %></td>
    <td><%= stats['deaths'] %></td>
    <td><%= stats['assists'] %></td>
    <td><%= stats['minionsKilled'] +
                stats['neutralMinionsKilledTeamJungle'] +
                stats['neutralMinionsKilledEnemyJungle'] %></td>
    <td><%= stats['visionWardsBoughtInGame'] %></td>
  </tr>
  <tr>

    <td>Pros</td>
    <td><%= GameStat.max(@champ, 'dmg_dealt').to_i * 1000 / 2 %></td>
    <td><%= GameStat.max(@champ, 'kills').to_i %></td>
    <td><%= GameStat.average(@champ, 'deaths') %></td>
    <td><%= GameStat.average(@champ, 'assists') %></td>
    <td><%= GameStat.max(@champ, 'minions') %></td>
    <td><%= GameStat.max(@champ, 'vision') %></td>
  </tr>
</table>
<br>

<div align="right">
  <%= link_to 'back', root_path %>
</div>