<div class="col-sm-6 col-md-5">
  <div class="alert-link">
    <%= link_to 'Search again', root_path %>
  </div>
</div>
<h1>Current game</h1>
<p><%= @player %> using <%= @champion.name %></p>

<p>Lane Enemy <%= @enemy.name %> </p>

<%= render 'tips' %>
<br>
<br>
<%= render 'teamfight' %>
<br>
<br>
<%= render 'itemtips' %>
<br>
<br>
<div class="col-sm-6 col-md-5">
  <div class="alert-link">
    <%= link_to 'back', root_path %>
  </div>
</div>