<h1>Current game</h1>
<h1><%= @player %> using <%= @champion.name %></h1>

<h1>Lane Enemy <%= @enemy.name %> </h1>

<%= render 'tips' %>
<br>
<br>
<%= render 'teamfight' %>
<br>
<br>

<%= link_to 'back', root_path %>