<h1>Summoner <%= params[:sn].capitalize! %></h1>
<div class="col-sm-6 col-md-5">
  <div class="alert-link">
  <%= link_to 'Search again', root_path %>
  <%= link_to 'Current Game', current_path(params[:sn].downcase) %>
  </div>

</div>
<br>
<h1>Listing Games Played</h1>
<p> these games cannot be analyzed, only ranked games</p>
<table class="rwd-table">
  <tr>
    <th>Type</th>
    <th>Won?</th>
    <th>Champion</th>
    <th>Total Damage</th>
    <th>Gold</th>
    <th>Damage Taken</th>
    <th>level</th>
    <th>Kills</th>
    <th>Deaths</th>
    <th>Assists</th>
    <th>CS..</th>
    <th>Wards</th>
    <th>Position</th>
  </tr>
  <% @matches.each do |match| %>
      <tr>
        <td><%= match[:match] %></td>
        <td><%= match[:win] %></td>
        <td><%= @pool[:"#{match[:champion]}"] %></td>
        <td><%= match[:total_dmg] %></td>
        <td><%= match[:total_gold] %></td>
        <td><%= match[:dmg_taken] %></td>
        <td><%= match[:level] %></td>
        <td><%= match[:kills] %></td>
        <td><%= match[:deaths] %></td>
        <td><%= match[:assists] %></td>
        <td><%= match[:cs] %></td>
        <td><%= match[:wards] %></td>
        <td><%= match[:position] %></td>
      </tr>
  <% end %>
</table>
<br>
<h1>Only - Ranked Played Games</h1>

  <table class="rwd-table">
    <tr>
      <th>Role</th>
      <th>Lane</th>
      <th>Champion</th>
      <th>Queue</th>
      <th>Full Analysis</th>

    </tr>
    <% @ranked.each do |rank| %>
        <div class='row'>
          <tr>
            <td><%= rank[:role] %></td>
            <td><%= rank[:lane] %></td>
            <td><%= @pool[:"#{rank[:champion]}"] %></td>
            <td><%= rank[:queue] %></td>
            <td><%= link_to 'Analytics', analytics_path(rank) %></td>
          </tr>
        </div>
    <% end %>
  </table>

<br>
